$header-text : #666666;
$button-style : #337ab7;

header {
    width: 100%;

    #header {
        position: fixed;
        z-index: 10;
        min-height: 100px;
        background-color: white;
        box-shadow: 0px 5px 5px #dedede;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.easter-egg-header {
    z-index: -1;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    box-sizing: border-box;
    margin: 10px 0;

    img {
        width: 80px;
        height: 80px;
    }
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: height 0.5s ease;
}

.menu-item {
    display: flex;

    a {
        padding: 10px 18px;
        text-decoration: none;

        span {
            font-size: 14px;
            color: $header-text;
        }
    }

    a:hover {
        span {

            text-decoration: underline $header-text;
        }
    }
}

.menu-item:last-child {
    a {
        background-color: #337ab7;
        border-radius: 30px;

        span {
            color: white;
        }
    }

    a:hover {
        span {

            text-decoration: underline white;
        }
    }
}

.label-burger {
    display: none;
    width: 42px;
    height: 32px;
    border-radius: 4px;
    background-color: #337ab7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    cursor: pointer;

    >div {
        width: 50%;
        margin: 2px;
        height: 2px;
        background-color: white;
        transition: all 0.5s ease;
        box-sizing: border-box;
    }
}



.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#burger {
    display: none;
}

#burger-check {
    display: none;
}


@media screen and (max-width: 800px) {
    #burger:checked {
        ~.menu-list {
            height: 252px;
            margin-bottom: 2px;
        }
    }

    #burger-check:checked {
        +.label-burger {
            div:first-child{
                transform: rotate(1835deg) translate(4px, 5px);
            }
            div:nth-child(2) {
                opacity: 0;
            }
            div:last-child {
                transform: rotate(-1835deg) translate(4px, -5px);
            }
        }
    }

    .header-wrapper {
        flex-direction: column;
        min-height: 70px;
    }

    .logo {
        margin-top: 5px;
        margin-bottom: 3px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    .easter-egg-header {
        height: 70px;
    }

    header {

        #header {
            min-height: 70px;
        }
    }

    .menu-list {
        flex-direction: column;
        justify-content: center;
        height: 0px;
        justify-content: flex-start;
    }

    .menu-item {
        justify-content: center;

        a {
            padding: 9px 18px;
        }
    }

    .label-burger {
        display: flex;
    }

    .nav-container {
        width: 100%;
    }
}