@import 'colors';
@import 'mixins';

.reg-wrapper {
    @include flex(row, $justify: center);
    background-color: $reg-gray;
}

.registration {
    @include flex(row);
    margin-top: 54px;
}

.cource-general-info {
    @include flex(column);
    flex: 0.93;
    margin-left: 40px;
    align-self: center;

    h1 {
        text-align: center;
        font-size: 30px;
        margin: 30px 0;
    }

    span {
        text-align: center;
        padding: 0 35px;
        line-height: 2;
        color: $grey;
    }
}

#registration-form {
    @include flex(column);
    flex: 1;
    margin-left: 45px;

    >h2 {
        font-size: 18px;
        margin-bottom: 3px;
    }
}

.form-input {
    @include flex(column-reverse);

    >label {
        @include flex(row, center);
        margin: 10px 0 5px 0;
    }

    >input {
        @include round(7px);
        padding: 12px;
        border: $ligther-grey 1px solid;
        transition: border 0.5s ease, box-shadow 0.5s ease;
    }

    >input:focus {
        outline: none;
        border: $ligth-blue 1px solid;
        box-shadow: 0 0 5px 5px $ice-blue;
    }
}

.form-input-wrong:invalid {
    border: #ff8383 1px solid;
    box-shadow: #f1b0b0 0 0 10px 5px inset;
}

.privacy-policy {
    @include flex;
    margin-top: 15px;

    label,
    a {
        padding-left: 5px;
        font-size: 15px;
        text-decoration: none;
    }
}

#form-sumbit {
    @include round;
    margin: 36px 0;
    width: 370px;
    align-self: center;
    background-color: $blue;
    padding: 15px 0;
    border: none;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    font-size: 14px;
    cursor: pointer;
}

#form-sumbit:disabled {
    background-color: desaturate($blue, 50%);
    cursor: not-allowed;
}

.form-input>input:required~label::after,
#form-policy:required~label::after {
    content: '*';
    color: red;
    padding-left: 2px;
    transform: translateY(4px);
}


@include adaptive(1140px) {
    .registration {
        @include flex(column, stretch);
        width: 100%;
        margin-top: 20px;

        div {
            width: 100%;
            margin: 0;
        }
    }

    .form-input>input {
        font-size: 14px;
        padding: 10px;
    }

    #registration-form {
        width: 100%;
        margin: 0;
        padding-top: 51px;
    }

    #form-sumbit {
        width: 278px;
    }

    .cource-general-info {
        >h1 {
            font-size: 23px;
            margin: 13px 0;
        }

        >span {
            padding: 0;
            line-height: 1.86;
            padding-top: 2px;
            font-size: 13.5px;
        }
    }

    .privacy-policy {
        padding-top: 5px;
    }
}