@import 'colors';
@import 'mixins';

.reg-wrapper {
    @include flex(row, $justify: center);
    background-color: $white-gray;
}

.registration {
    @include flex(row);
    margin-top: 51px;
}

.cource-general-info {
    @include flex(column);
    flex: 0.93;
    margin-left: 30px;
    align-self: center;

    h1 {
        text-align: center;
        font-size: 34px;
        margin-bottom: 27px;
        margin-top: 30px;
        font-weight: 600;
    }

    span {
        text-align: center;
        padding: 0 24px;
        line-height: 1.75;
        font-size: 18px;
        font-weight: lighter;
        color: $gray;
    }
}

#registration-form {
    @include flex(column);
    flex: 1;
    margin-left: 50px;

    >h2 {
        font-size: 21px;
        margin-bottom: 2px;
        font-weight: 600;
        letter-spacing: 0.6px;
    }
}

.form-input {
    @include flex(column-reverse);

    >label {
        @include flex(row, center);
        margin: 10px 0 5px 0;
        letter-spacing: -0.5px;
        font-weight: 100;
        font-size: 15px;
        transform: scaleY(1.1);
    }

    >input {
        @include round(7px);
        padding: 15px;
        font-size: 14px;
        border: $ligther-gray 1px solid;
        transition: border 0.5s ease, box-shadow 0.5s ease;

        &:focus {
            outline: none;
            border: $ligth-blue 1px solid;
            box-shadow: 0 0 5px 5px $ice-blue;
        }
    }


    &-wrong {
        border: #ff8383 1px solid;
        box-shadow: #f1b0b0 0 0 10px 5px inset;
    }
}

.privacy-policy {
    @include flex;
    margin-top: 20px;

    label {
        padding-left: 5px;
    }

    label,
    a {
        font-size: 13px;
        letter-spacing: -0.2px;
        text-decoration: none;
    }
}

#form-sumbit {
    @include round;
    margin: 36px 0;
    width: 370px;
    align-self: center;
    background-color: $blue;
    padding: 15px 0;
    border: none;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    font-size: 14px;
    cursor: pointer;

    &:disabled {
        background-color: desaturate($blue, 50%);
        cursor: not-allowed;
    }
}

.form-input>input:required~label::after,
#form-policy:required~label::after {
    content: '*';
    color: red;
    padding-left: 3px;
    font-weight: bold;
    transform: translateY(4px);
}


@include adaptive(1140px) {
    .registration {
        @include flex(column, stretch);
        width: 100%;
        margin-top: 20px;

        div {
            width: 100%;
            margin: 0;
        }
    }

    .form-input>input {
        font-size: 14px;
        padding: 10px;
    }

    #registration-form {
        width: 100%;
        margin: 0;
        padding-top: 51px;
    }

    #form-sumbit {
        width: 278px;
    }

    .cource-general-info {
        >h1 {
            font-size: 24px;
            margin: 12px 0;
        }

        >span {
            padding: 0;
            line-height: 1.79;
            padding-top: 2px;
            font-size: 14px;
        }
    }

    .privacy-policy {
        padding-top: 19px;
    }

    #registration-form>h2 {
        display: ruby;
    }

    .privacy-policy label,
    .privacy-policy a {
        font-size: 14px;
    }
}