@import "colors";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=SUSE:wght@100..800&display=swap');

.testimonials-wrapper {
  @include flex(row, center, center);
}

.testimonials {
  @include flex(column, center, center);
  padding-top: 66px;

  h2 {
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
  }
}

.testimonials-slider-wrapper {
  padding-top: 6px;
  width: 100%;
  overflow: hidden;

  .slick {
    &-slide {
      @include flex(row, center, center);
    }


    &-slider {
      margin-bottom: 34px;
    }

    &-dots {
      position: unset;
      padding-top: 101px;

      li {
        margin: 0 3px;

        button::before {
          font-size: 14px;
        }
      }
    }
  }
}

.fa {
  &-solid {
    font-size: 34px;
    transform: scaleY(1.2);
    color: $grey;
  }

  &-quote-left {
    align-self: flex-start;
  }

  &-quote-right {
    align-self: flex-end;
  }
}

.testimonials-slide {
  @include flex(column, center, center);
  width: 976px;

  &-main {
    @include flex(row, center, space-between);
    padding-top: 2px;

    >span {
      padding: 17px 17px 2px 17px;
      font-size: 22px;
      font-weight: 300;
      text-align: center;
      line-height: 1.65;
    }
  }

  &-author {
    text-align: center;
    font-size: 20px;
    padding-top: 31px;
  }

  &-position {
    text-align: center;
    transform: skew(-15deg) translate(1px, -1px);
    font-size: 15.5px;
    color: $grey;
  }
}

@include adaptive(630px) {
  .testimonials {
    padding-top: 33px;

    h2 {
      font-size: 28px;
    }

    &-slider-wrapper {
      padding-top: 7px;
    }

    &-slide {
      &-main {
        span {
          font-size: 18px;
          line-height: 1.6;
        }
      }
    }
  }

  .fa-solid {
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 8px;
  }
}

@include adaptive(440px) {
  .testimonials {
    padding-top: 28px;

    h2 {
      font-size: 24px;
    }

    &-slide {
      overflow: visible;

      &-main {
        span {
          padding: 0;
          font-size: 14px;
          line-height: 1.5;
        }
      }

      &-author {
        font-size: 16px;
        padding-top: 16px;
      }

      &-position {
        font-size: 13.5px;
        padding-top: 2px;
      }
    }

    &-slider-wrapper {
      .slick {
        &-dots {
          padding-top: 92px;
        }

        &-slider {
          margin-bottom: 28px;
        }
      }
    }
  }

  .fa-solid {
    font-size: 17px;
  }
}